/*Inicio Estilo Matriz*/
body {
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header{
    background-image: url("../img/img_cab2.jpg");
    background-size: 90%; 
    padding: 16px 0;
    height: 300px;
    display: flex;
    align-items: center;
    
}

header img {
    width: 200px;
}

header h1 {
    font-family: "Aclonica", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 50px;
    display: inline-block;
    bottom: 35px;
    margin-left: 10px;
}

nav {
    background-color: #000000;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li a:hover {
    background-color: rgba(248, 4, 4, 0.3);
}

nav ul li a.activo {
    background-color: #2861a1;
}

footer {
    background-color: #ccc;
    clear:both;
    color: #333;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;

}

.holder{
    max-width: 960px;
    margin: 0 auto;
}

.holder div img {
    width: 100%;
    max-height: 360px;
    border: 20px solid transparent;
}

h2{
    color: #2e64a1;
    font-weight: 400;
}
/*Fin Estilo Matriz*/
/* Inicio Estilo Contenido Home */
.bienvenidos{
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
}

.bienvenidos p{
    font-size: 18px;
}

.testimonios{
    width: 25%;
}

.testimonio{
    background-color: #ccc;
    padding: 16px;
}

.testimonio .cita{
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    display: block;
}

.testimonio .autor{
    font-size: 12px;
    text-align: center;
    display: block;
    margin: 12px 0;
}
/*Fin Estilo Contenido Home */

/*Inicio Estilo Contenido Nosotros */

.columnas{
    display: flex;
    justify-content: space-between;
}

.historia h3{
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 700;
    border: 5px transparent solid;
}
.historia p{
    font-size: 15px;
}
.personas{
    display: flex;
    justify-content: space-between;
}

.persona{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 23%;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
}

.persona img{
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.persona h5,
.persona h6 {
    margin: 0;
    font-weight: normal;
    color: #2e64a1;
}

.persona h5{
    font-size: 14px;
    margin-top: 5px;
}

.persona h6{
    font-size: 11px;
    font-style: italic;
}

.persona p {
    font-size: 10px;
    color: #666;
}

/*Fin Estilo Contenido Nosotros */

/*Inicio Estilo Contenido Nosotros */
.benef_titulo{

}

.beneficio{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 16px;
    margin: 16px 0;
    display: flex;
    gap: 32px;
    align-items: center;
}

.beneficio .info h4{
    color:#2e64a1;
    font-weight: 500;
    border-bottom: 1px solid #2e64a1;
    padding-bottom: 10px;
}

.beneficio .info p{
    font-size: 14px;

}
/*Fin Estilo Contenido Nosotros */

